FRONTEND_DEV=http://localhost:
PORT=8000
NODE_ENV=development
DATABASE_ID=<Your_notion_database_ID>
NOTION_TOKEN=<Your_notion_integration_token>

# Incase you decide to host the proxy separately, just update this value to point to the hosted URL
FRONTEND_PROD=http://localhost: