# Email
EMAIL_HOST=smtp.gmail.com
HOST_USER=<Your_sender_email_address>
HOST_PASSWORD=<App_password_for_the_sender_email_address>
RECEIVER_MAIL=<The_receiver_email_for_the_contacts>
SECRET_KEY=<Your_super_duper_secret_app_key>
APP_ENV=Development

# For development and instances where it is hosted together with the Web interface, leave it as is
# If it however hosted separately, set it to the hosted URL on the server
NOTION_PROXY_URL=http://localhost:8000